body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333333;
}

.produce-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.produce-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

#orderMessage {
    margin-top: 20px;
    font-size: 18px;
    color: #28a745;
    font-weight: bold;
}

.quantity {
    font-weight: bold;
}

.unit-counter {
    width: 60px;
}
